#login-slider {
  background-color: rgba(127, 169, 151, 255);
  height: 100vh;
  /* width: 600px; */
}

#login-form {
  background-color: white;
}

.auth-link {
  margin: 25px 0 25px 0;
  text-align: right;
  color: #555;
}

#login-slider h2 {
  margin-top: 30px;
  font-weight: bold;
  color: rgb(54, 72, 58);
  margin-left: 50px;
}

#login-slider h1 {
  margin-top: 70px;
  font-weight: bold;
  color: rgb(54, 72, 58);
  margin-left: 50px;
}

#login-slider img {
  margin-top: 60px;
  margin-bottom: 50px;
}

#login-slider p {
  margin-top: 50px;
  /* font-weight: bold; */
  color: rgb(54, 72, 58);
  margin-left: 50px;
}

form {
  /* justify-content: center;
  align-items: center; */
  width: 35%;
  margin-top: 15%;
  margin-left: 35%;
}

form h3 {
  font-family: "Helvetica Neue";
  font-weight: bold;
  text-align: left;
  margin-bottom: 30px;
  color: #555;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.google-btn img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background-color: #efeded;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #555;
  margin: 20px 0 20px 0;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e0e0e0;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}

input {
  margin-top: 0.5em;
  border-radius: 8px;
  background-color: #f3f3f4 !important;
  color: #555 !important;
  padding: 10px 10px 10px 10px !important;
}

input:hover {
  box-shadow: 0 0 0 4px rgb(226, 248, 231);
}

input:active {
  border-color: #e7e7e9 !important;
  background-color: #fff !important;
  box-shadow: none;
}

label {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#login-btn {
  transition: color 200ms ease;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(127, 169, 151, 255);
  color: #fff;
  margin-top: 30px;
  padding: 10px 70px 10px 70px;
  font-weight: bold;
  font-family: "Helvetica Neue";
}

.form-password label {
  margin-top: 30px;
}

/* CSS untuk ukuran layar tablet */
@media screen and (max-width: 768px) {
  #login-slider {
    display: none;
  }
}

/* CSS untuk ukuran layar mobile */
@media screen and (max-width: 480px) {
  #login-slider {
    display: none;
  }
}
