.body {
  font-family: "Poppins";
}

.header {
  justify-content: space-between;
  background: url(landing-a.png);
  background-color: #ffff;
  background-repeat: no-repeat;
  background-size: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: hidden;
  z-index: 1000;
}

.titleBanner {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

.btnLight {
  border: 2px solid #1d1d1d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 18px;
  background-color: transparent;
  padding: 4px 30px 4px 30px;
}

.Search {
  border: 1px solid #1d1d1d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  background-color: transparent;
  padding: 9px 4px 9px 40px;
  width: 100%;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.jumbotronBanner {
  background: url(bg-banner.png);
  background-repeat: repeat;
  /* background-size: auto; */
}

.btnPesan {
  border: none;
  background: linear-gradient(
    263.35deg,
    rgba(73, 190, 255, 0.3) 28.29%,
    rgba(162, 114, 255, 0.285927) 84.08%,
    rgba(200, 82, 255, 0.28) 107.57%
  );
  border-radius: 18px;
  background-color: transparent;
  padding: 4px 30px 4px 30px;
}

#label {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 2px 5px 2px 5px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.mainForum {
  background: linear-gradient(
    263.35deg,
    rgba(73, 190, 255, 0.3) 28.29%,
    rgba(162, 114, 255, 0.285927) 84.08%,
    rgba(200, 82, 255, 0.28) 107.57%
  );
  /* Box-shadow */

  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
}

.titleForum {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  letter-spacing: -0.03em;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 100px;
}

.btnForum {
  border: 2px solid #1d1d1d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 18px;
  background-color: transparent;
  padding: 4px 30px 4px 30px;
  margin-top: 20px;
  font-size: 20px;
}
.nav-item {
  margin-right: 30px;
}

.nav-item a {
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 700; */
  font-size: 16px;
  line-height: 28px;
  color: #3a4095;
}

.navbar {
  border-bottom: 2px solid #3a4095;
}
/* 
h1 {
  font-size: 958px;
  color: #3a4095;
  font-weight: bold;
  margin-top: 120px;
} */

.main-content {
  background-color: #3a4095;
  margin-top: 20px;
  padding-top: 40px;
}
.main-content h2 {
  color: white;
  font-weight: bold;
}
.main-dropdown button {
  background-color: #d9d9d9;
  color: black;
  width: 70%;
}
.main-cards a {
  border-radius: 50px;
  background-color: #383e94;
  width: 100%;
}
.card {
  background-color: #d9d9d9;
}
.baner-bawah {
  background-color: #383e94;
  padding-top: 50px;
  margin-top: 50px;
}
.baner-bawah p {
  color: #fff;
  text-align: justify;
}
.baner-bawah h1 {
  color: #fec554;
}

.moreReplay {
  font-size: 13px;
  text-decoration: none;
  color: #1d1d1d;
  margin-top: 3px;
  margin-left: 3px;
}

.btnKomen {
  /* border: 2px solid #1d1d1d; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 18px;
  padding: 3px 10px 4px 10px;
  font-size: 14px;
  background: linear-gradient(
    263.35deg,
    rgba(73, 190, 255, 0.3) 28.29%,
    rgba(162, 114, 255, 0.285927) 84.08%,
    rgba(200, 82, 255, 0.28) 107.57%
  );
  border: none;
}

.btnTambahKomentar {
  border: 1px solid #1d1d1d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 18px;
  background-color: transparent;
  margin-top: 15px;
  align-items: ;
  padding: 4px 30px 4px 30px;
}
