body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.badge-light {
  background: linear-gradient(
    263.35deg,
    rgba(73, 190, 255, 0.3) 28.29%,
    rgba(162, 114, 255, 0.285927) 84.08%,
    rgba(200, 82, 255, 0.28) 107.57%
  );
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}

.selected {
  border-left: 3px solid #83067f;
}

.card:hover {
  border: 2px solid #1d1d1d;
}
