.body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-color: rgba(245, 244, 247, 255);
}
a {
  text-decoration: none !important;
  color: #ffffff;
}
nav {
  background-color: #ffffff;
  height: 80px;
}
footer {
  background-color: #ffffff;
  height: 80px;
  margin-top: 40px;
}
.sidebar {
  background: white;
  height: 100%;
  padding-top: 80px;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  color: #fff;
}

.ul-nav {
  margin-top: 80px;
}

.li-nav {
  color: #fff;
  list-style-type: none;
  margin-top: 30px;
}
h1 {
  padding: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.kartu {
  margin-top: 30px;
}
.card {
  border: none;
}
.tabel {
  background-color: #fff;
}
h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  color: #2d55b4;
  margin-bottom: 0;
}
.welcom {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #abaeb7;
}
.page-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}
.card svg {
  color: #2d55b4;
}

#logout {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

.img-profil {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.sidebar svg {
  color: black;
}

.sidebar-kanan {
  background-color: white;
  border-radius: 5%;
}
